[Unit]
Description=BlueALSA Audio Player
After=bluealsa.service bt-agent.service
Requires=bluealsa.service

[Service]
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/bluealsa-aplay 00:00:00:00:00:00
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
